<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="">
  <meta charset="UTF-8">
  <title>Accounts</title>
</head>

<body>
  <div class="container">

    <h1>Welcome! Please Login</h1>
    <h3>Enter Your Email</h3>

    <form method="POST">
      <div class=form-grp></div>
      <input id=email type="email" placeholder="name@email.com"></input>
      <h3>Enter Your Password</h3>
      <input id=pass type="text" placeholder="Password"></input>
      <button type="submit" class="btn-primary">Submit</button>
    </div>
    </form>
  </div>
  <script type="text/javascript" src="script.js"></script>
</body>

</html>
